

<div>
    <!-- Título -->
    <div class="h-[65px] flex items-center justify-between px-5 py-1" style="box-shadow: 0px 3px 5px 0px #0000001A;">
      <button>
        <img src="/svgs/icon_arrow-back.svg" alt="Volver">
      </button>
      <h5 class="text-xl font-semibold text-[#021442]">Solicitud de crédito</h5>
    </div>
    
    <div class="h-[182px] text-center bg-[#E6FBFF] text-[#021442] py-5 px-4">
        <h2 class="text-xl font-bold mt-[10px] mb-[10px]">Resumen del crédito</h2>
        <p class="font-normal leading-[130%] mb-[10px]">
            <span class="font-semibold">Verifica que los datos sean correctos.</span> 
            Si no lo son, contáctanos aquí abajo:
        </p>
        <div class="flex justify-center gap-7 mt-[22px]">
            <button 
                class="bg-[#279CCD] h-[32px] min-w-[150px] text-white px-3 py-1 rounded-full text-base font-semibold flex items-center gap-[10px]" style="box-shadow: 0px 3px 5px 0px #0000001A;"
            >
                <img src="/svgs/icon_phone.svg"/> Llámanos
            </button>
            <button 
                class="bg-[#DF512C] h-[32px] min-w-[150px] text-white px-3 py-1 rounded-full text-base font-semibold flex items-center gap-[10px]" style="box-shadow: 0px 3px 5px 0px #0000001A;"
            >
                <img src="/svgs/icon_whatsapp.svg"/> WhatsApp
            </button>
        </div>
    </div>
    
    <div class="w-full flex flex-col justify-center items-center px-[20px] md:px-12 lg:px-24">
        <!-- Resumen de simulación -->
        <div 
            class="h-[153px] w-full bg-[#E6FBFF] rounded-[10px] p-4 text-center mt-6" 
            style="box-shadow: 0px 4px 10px 0px #00000033;"
        >
            <p class="text-base font-normal text-[#DF512C]">Monto</p>
            <p class="text-xl font-medium text-[#021442] mb-0.5">$4,000,000</p>
    
            <div class="border-t border-[#DF512C] mb-2"></div>
    
            <!-- Cuota mensual y Número de cuotas -->
            <div class="flex text-left text-xs text-[#021442]">
                <!-- Cuota mensual -->
                <div class="w-1/2 pr-2 border-r border-[#DF512C]">
                <p class="text-[#DF512C] font-medium">Cuota mensual</p>
                <p class="text-xl font-medium">$402,460</p>
                <p class="text-[#279CCD] text-xs font-bold">Cuota aproximada*</p>
                </div>
    
                <!-- Número de cuotas -->
                <div class="w-1/2 pl-2">
                <p class="text-[#DF512C] font-medium">Número de cuotas</p>
                <p class="text-xl font-medium">12</p>
                <p class="text-[#279CCD] text-xs font-bold">Meses</p>
                </div>
            </div>
        </div>
    
        <div class="w-full my-10">
            <div class="text-[#021442]">
                <h3 class="text-base font-extrabold mb-[16px]">Información de la empresa</h3>
                <div class="space-y-2 mb-3">
                    <h4 class="text-base font-normal">Nombre de la famiempresa</h4>
                    <p class="text-[#279CCD]">{{ businessName }}</p>
                </div>
                <div class="space-y-2">
                    <h4 class="text-base font-normal">Actividad económica</h4>
                    <p class="text-[#279CCD]">{{ economicActivity }}</p>
                </div>
            </div>
            
            <div class="h-px bg-[#C8CED6] my-4"></div>
    
            <div class="text-[#021442]">
                <h3 class="text-base font-extrabold mb-[16px]">Información personal</h3>
                <div class="space-y-2 mb-3">
                    <h4 class="text-base font-normal">Estado civil</h4>
                    <p class="text-[#279CCD]">{{ civilStatus }}</p>
                </div>
                <div class="space-y-2">
                    <h4 class="text-base font-normal">Tipo de vivienda</h4>
                    <p class="text-[#279CCD]">{{ housingType }}</p>
                </div>
            </div>
    
            <div class="h-px bg-[#C8CED6] my-4"></div>
    
            <div class="text-[#021442]">
                <h3 class="text-base font-extrabold mb-[16px]">Datos para el desembolso</h3>
                <div class="space-y-2 mb-3">
                    <h4 class="text-base font-normal">Entidad bancaria</h4>
                    <p class="text-[#279CCD]">{{ bank }}</p>
                </div>
                <div class="space-y-2 mb-3">
                    <h4 class="text-base font-normal">Tipo de cuenta</h4>
                    <p class="text-[#279CCD]">{{ accountType }}</p>
                </div>
                 <div class="space-y-2">
                    <h4 class="text-base font-normal">Número de cuenta</h4>
                    <p class="text-[#279CCD]">{{ accountNumber }}</p>
                </div>
            </div>
            
            <div class="h-px bg-[#C8CED6] my-4"></div>
    
            <div class="text-[#021442]">
                <h3 class="text-base font-extrabold mb-[16px]">Beneficiarios del seguro</h3>
                <div class="space-y-2 mb-3">
                    <h4 class="text-base font-normal">Nombre</h4>
                    <p class="text-[#279CCD]">{{ beneficiary?.name }}</p>
                </div>
                <div class="space-y-2 mb-3">
                    <h4 class="text-base font-normal">Identificación</h4>
                    <p class="text-[#279CCD]">{{ beneficiary?.id }}</p>
                </div>
                <div class="space-y-2 mb-3">
                    <h4 class="text-base font-normal">Parentesco</h4>
                    <p class="text-[#279CCD]">{{ beneficiary?.relationship }}</p>
                </div>
                <div class="space-y-2">
                    <h4 class="text-base font-normal">Porcentaje asignado</h4>
                    <p class="text-[#279CCD]">{{ beneficiary.percentage }}</p>
                </div>
            </div>
        </div>
    
        <div class="w-full space-y-6 mb-6">
            <button (click)="onSubmit()" type="button" class="btn btn-primary w-full">
                Solicitar
            </button>
    
            <button (click)="onBack()" type="button" class="btn btn-outline w-full">
                Regresar
            </button>
        </div>
    </div>
</div>


<app-modal
  [isOpen]="showSuccessModal"
  [title]="''"
  [showCancel]="false"
  (onClose)="showSuccessModal = false"
>
  <div class="flex flex-col items-center text-center text-[#021442] gap-0">
    <img src="/svgs/icon_check.svg" alt="Éxito"/>

    <h3 class="text-[28px] text-[#021442] font-semibold mt-7 mb-2">
        Tu solicitud de crédito está en proceso
    </h3>
    
    <p class="text-xl font-normal mb-10">
      Pronto nos comunicaremos contigo para continuar con el desembolso.
    </p>

    <button 
      type="button" 
      class="btn btn-primary w-full"
    >
      <!-- (click)="goToLogin()" -->
      Finalizar
    </button>
  </div>
</app-modal>